<h1>Our services</h1>

<div class="row">
	<div class="form-group col-xs-3">
		<label for="filter__names">Search by services names</label>
		<input type="search" name="filter__names" ng-model="filterBy.search" id="filter__names" class="form-control" />
	</div>

	<div class="form-group col-xs-3">
		<label for="filter__categories">Search by services names</label>
		<select name="filter__categories" 
				id="filter__categories" 
				class="form-control"
				ng-model="filterBy.category"
				ng-options="c.name for c in categories">
			
		</select>
	</div>
	
	<div class="form-group col-xs-3">
		<label for="filter__skills">Search by services skills</label>
		<select name="filter__skills" 
				id="filter__skills" 
				class="form-control"
				ng-model="filterBy.skill"
				ng-options="s.name for s in skills">
		</select>
	</div>
</div>

<div>
	<ul>
		<li ng-repeat-start="service in services | filter: {title: filterBy.search} | servicesBySkills: filterBy">
			<!-- -->
			<p class="label label-default">
				{{service.category.name}}
			</p>
			<p>
				<a href="#" ng-click="selectService(service)">
					{{service.title}}
				</a>
				<span class="text-muted">
					({{displayConcatSkills(service.skills)}})
				</span>
			</p>
			
		</li>
		<p class="text-info" ng-repeat-end ng-show="isSerciveSelected(service)">
			{{service.description}}
		</p>
	</ul>
</div>