<form class="form-horizontal" name="loginForm" novalidate ng-submit="login()">

	<div class="form-group" ng-show="message">
        <div class="alert" ng-class="{'alert-success': success, 'alert-danger': !success}">
        	{{message}}
        </div>
    </div>

	<div class="form-group row" ng-class="{
								'has-error' : loginForm.email.$invalid && loginForm.email.$dirty,
								'has-success' : loginForm.email.$valid && loginForm.email.$dirty
								}">
		<label for="email" class="col-sm-4 control-label">Email (is required)</label>
		<div class="col-sm-8">
			<input type="email" name="email" id="email" class="form-control" ng-model="user.email" required custom-focus />
			<p class="help-block" ng-show="loginForm.email.$invalid && loginForm.email.$dirty && !loginForm.email.$focused">
				Wrong email.
			</p>
		</div>
	</div>

	<div class="form-group row" ng-class="{
								'has-error' : loginForm.password.$invalid && loginForm.password.$dirty,
								'has-success' : loginForm.password.$valid && loginForm.password.$dirty
								}">
		<label for="password" class="col-sm-4 control-label">Password (is required)</label>
		<div class="col-sm-8">
			<input type="password" name="password" id="password" class="form-control" ng-model="user.password" required custom-focus />
			<p class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$dirty && !loginForm.password.$focused">
				Password is required.
			</p>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-offset-4 col-sm-8">
			<div class="checkbox">
				<label>
					<input type="checkbox" /> Remember me
				</label>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-offset-4 col-sm-8">
			<input type="submit" class="btn btn-primary" value="Log In" ng-disabled="loginForm.$invalid" />
		</div>
	</div>
</form>